.footer {
    background-color: #3A3A3A;
    color: white;
    padding: 40px 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-section .social-icons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-section .social-icon {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.footer-section .social-icon:hover {
    background-color: #FFFFFF;
    color: #3A3A3A;
}

#subscribe-form {
    display: flex;
    flex-direction: column;
}

#subscribe-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
#subscribe-form .input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#subscribe-form button {
    padding: 10px;
    background-color: #FF6347;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#subscribe-form button:hover {
    background-color: #FF4500;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    background-color: #2C2C2C;
}

@media (max-width:650px) {
    .footer{
        width: screen;
        margin-top: 20px;
    }
    .Link{
       height: 2em;
    }
}